/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	font-family: Arial, Helvetica, sans-serif; 
	background-color: #F0FFF0;  
	background-image: url('../img/background.png'); 
}

body h1{
	text-size: 5em; 
}

#page{
	width: 60%;
	border-right: 2px solid black;
	border-left: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: -2px 0px 2px rgba(0,0,0,0.4),2px 0px 2px rgba(0,0,0,0.4);
	-moz-box-shadow: -2px 0px 2px rgba(0,0,0,0.4),2px 0px 2px rgba(0,0,0,0.4);
	box-shadow: -2px 0px 2px rgba(0,0,0,0.4),2px 0px 2px rgba(0,0,0,0.4);
}

header {
	background-color: #CC6633;
	color: white; 
	width:100%;
	height: 115px;
   }
   
header img{
	margin: 1% 0 1% 0; 
}
   
nav{
	margin-top: -5%; 
}

nav form{
	display:inline; 
	float: right;
	margin: 0 2% 0 2%; 
}
 
nav li a{
   color: white; 
   border-right:2px solid white; 
   text-decoration: none;
   float: right; 
   padding: 0 1% 0 1%;  

   }
   
#timedFoodSelection{
	background-color: #CCFFCC;
	color: #CC6633;
	width: 60%;
	height: 400px;
	float: left; 
}

#timedFoodSelection p{
	font-weight:bold;
	margin-left: 10px;
	margin-top: 5px;
}

#timedFoodSelection a img {
	float: left; 
	width: 25%; 
}

#tips{
	background-color: #99CC99; 
	color: white;
	width: 60%;
	height: 400px; 
	float: left;
}

#tips h1{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
} 
#tipsContent {
	height: 100px; 
	margin: 10% 0 0 0; 
}
#tips h1, #tips ul{
	width: 50%;
	text-align: center; 
	margin: 0 auto 0 auto; 
	padding: 0 5% 0 5%;
}

#sidebar{
	width: 40%; 
	height:800px; 
	color: #CC6633;
	background-color: #CCFFCC; 
	border-bottom: 0px; 
	border-top: 0px; 
	float:right;
	text-align: center;
}

#firstSidebarBlock{
	height: 400px;
}

#firstSidebarBlock figure{
	width: 50%;
	float: left;
	padding-bottom: 2%; 
}

#firstSidebarBlock figure figcaption{
	padding-top: 2%; 
}

#lastSidebarBlock{
	border-bottom: 0px; 
	height: 400px;
}

#lastSidebarBlock p{
	margin-left: 110px; 
}

#sidebar img:hover{
	opacity: 0.8; 
}

a:hover{
	color: #CEE6C7;  
}

footer{
	width: 100%; 
	height:58px; 
	background-color: #CC6633;
	clear: both; 
	background-image: url(../img/header.png);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 500px) {
#page{
	width: 100%; 
	float: none; 
}
#sidebar
{
	width: 100%;
	height: auto;	
}
#timedFoodSelection
{
	width: 100%;
	height: auto; 
	margin: 0; 
}
#tips{
	width: 100%;
	height: 350px; 
}

nav ul 
{
	display: none; 
}

}

@media only screen and (max-width: 800px) 
{
	#page{
		width: 100%; 
		float: none; 
	}
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
	   

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}